<!-- Sub hero -->
<section class="space sub-header">
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-6">
                <div class="sub-header_content">
                    <p>{{ .Params.hero_title }}</p>
                    <h3>{{ .Params.hero_heading | safeHTML }}</h3>
                    <span><i>Home / Services</i></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="sub-header_main">
                    <h2>{{ .Params.hero_subheading }}</h2>
                </div>
            </div>
        </div>
    </div>
</section>
<!--//End Sub hero -->
