<!--==================== Appointment ====================-->
<section class="space background-bg4">
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-12 col-lg-6">
                <div class="appointment-form_wrap">
                    <div class="heading-style1">
                        <span>{{ .Params.section_title }}</span>
                        <h2>{{ .Params.heading }}</h2>
                    </div>
                    <form action="#">
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-cutom">
                                    <input type="email" class="form-control form-custom" placeholder="Enter Your Name">
                                    <i class="far fa-user"></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-cutom">
                                    <input type="number" class="form-control form-custom" placeholder="Date and time">
                                    <i class="far fa-clock"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-cutom">
                                    <input type="number" class="form-control form-custom" placeholder="Enter phone number">
                                    <i class="fas fa-phone"></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-cutom">
                                    <input type="text" class="form-control form-custom" placeholder="Select location">
                                    <i class="fas fa-map-marker-alt"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <div class="form-group form-group-cutom">
                                    <input type="text" class="form-control form-custom" placeholder="Choose department">
                                    <i class="far fa-circle"></i>
                                </div>
                            </div>
                            <div class="col-md-6">
                                <div class="form-group form-group-cutom">
                                    <input type="text" class="form-control form-custom" placeholder="Select doctor">
                                    <i class="far fa-user"></i>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group form-group-cutom">
                                    <label for="exampleFormControlTextarea1">Your Message</label>
                                    <textarea class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <a href="#" class="btn btn-success">BOOK NOW</a>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
            <div class="col-md-12 col-lg-6">
                <div class="why-choose_block">
                    <div class="heading-style1 mb-0">
                        <span>{{ .Params.why_us_title }}</span>
                        <h2>{{ .Params.why_us_description }}</h2>
                        <p>{{ .Params.why_us_text }}</p>
                        <hr>
                    </div>
                    {{ range .Params.why_us_items }}
                    <div class="whychoose-wrap">
                        <img src="{{ .icon | relURL }}" alt="#">
                        <div class="whychoose-text_block">
                            <h4>{{ .title }}</h4>
                            <p>{{ .description }}</p>
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
<!--//End Appointment -->
