<!--==================== Our Services ====================-->
<section class="space light">
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-12">
                <div class="heading-style1">
                    <span>{{ .Params.title }}</span>
                    <h2>High Quality Services for You</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="service-slider">
                    {{ range $index, $service := .Params.services }}
                    <div class="service-block {{ index . "color" }}">
                        <img src="{{ .icon | relURL }}" alt="#">
                        <h3>{{ .title }}</h3>
                        <p>{{ .description }}</p>
                        <a href="{{ .read_more_link }}" class="btn btn-dark">READ MORE</a>
                        <div class="service-bg-icon">
                            <img src="{{ .background_image | relURL }}" class="img-fluid" alt="#">
                        </div>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <p class="text-center service-help_link">
                    Contact us for better help and services.
                    <a href="{{ .Params.contact_link }}">Let’s get started</a>
                </p>
            </div>
        </div>
    </div>
</section>
<!--//End Our Services -->
