<!--==================== Our Team ====================-->
<section class="our-team">
    <div class="container container-custom">
        <div class="row">
            <div class="col-md-12">
                <div class="sub-title_center">
                    <span>{{ .Params.span_text }}</span>
                    <h2>{{ .Params.heading }}</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="doctors-slider">
                    {{ range .Params.team_members }}
                    <div class="team-img_block {{ .color }}">
                        <div class="team-img-socila-block">
                            <img src="{{ .image | relURL }}" class="img-fluid" alt="#" />
                            <ul class="social-icons">
                                {{ range .social_icons }}
                                <li><a href="{{ .link }}"><i class="{{ .icon }}"></i></a></li>
                                {{ end }}
                            </ul>
                        </div>
                        <h4>{{ .name }}</h4>
                        <p>{{ .specialist }}</p>
                    </div>
                    {{ end }}
                </div>
            </div>
        </div>
    </div>
</section>
<!--//End Our Team -->
